<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script type="text/javascript" src="../static/js/hora-python.js"></script>
    <script type="text/javascript" src="../static/js/ModoEscuro.js"></script>
    <link rel="stylesheet" type="text/css" href="../static/css/style.css">
    <link rel="ICON" type="image/x-icon" href="https://img.kalunga.com.br/FotosdeProdutos/660992d.jpg">
    <title>HORAS</title>
</head>
<body>
    <div class='centro'>
        <a class='position' onclick="lampada(),AtivarModoEscuro()">
            <img id="lampada" src="https://www.w3schools.com/html/pic_bulboff.gif" width="25" height="45">
        </a>
        <p id='name'>dark mode</p>
        <h2>Horas executando pelo arquivo em python com ajax</h2>
        <p>pequenas requisições sendo feitas de forma assincronas no python atraves do ajax</p>
        <p>hora atual é:<span id="hora"></span></p>
        <button class="button" id="button" onclick="voltar()">Página Anterior</button>
    </div>
</body>
</html>