/* styles.css */
body{
    max-width: 100%;
    
}
#horas {
    font-size: 2em;
    animation: piscar 1s infinite;
}

@keyframes piscar {
    0%, 100% {
        color: red;
    }
    50% {
        color: Green; /* No meio, verde claro */
    }
    75% {
        color: SteelBlue; /* 75%, azul claro */
    }
}
.button {
    display: inline-block;
    border-radius: 40px;
    background-color: green !important;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));
    transition: transform 1.0s ease-in-out;
    cursor: pointer;
    -webkit-user-select:none;
    margin-right: 10px;
}

.button:hover {
    background-color: black  !important;
    color: green;
    transform: rotateY(360deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}
#route{
    position: absolute;
    right: 50%;
    bottom: 10px;
}

#time-color{
    position: relative;
    left: 80px;
    bottom: 10px;
}
.position{
    position: relative;
    top: 10px;
    cursor: pointer;
}
.dark-mode{
    background-color: black;
    color: white;
}

.centro{
    position: relative;
    text-align: center;
    bottom: 15px;
}
.linha{
    display: inline;
}