/* styles.css */
* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);/*retirar o efeito azul de click moba*/
}

body{
    max-width: 100%;
    
}

#horas {
    font-size: 2em;
    animation: piscar 5s infinite;
}

@keyframes piscar {
    0%, 100% {
        color: red;
        transform: rotateY(0deg);
        
    }
    50% {
        color: Green; /* No meio, verde claro */
        transform: rotateY(180deg);
    }
    75% {
        color: SteelBlue; /* 75%, azul claro */
        transform: rotateY(360deg);
    }
}

.button { /* botão */
    display: inline-block;
    border-radius: 40px;

    /* fundo verde */
    background-color: green !important;

    /* sombra */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);

    /* gradiente de fundo */
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.8));

    /* animação para efeito de hover */
    transition: transform 1.0s ease-in-out;

    /* ponteiro ao passar o mouse */
    cursor: pointer;

    /* desabilitar seleção de texto */
    -webkit-user-select:none;
    user-select: none;

    /* espaçamento entre botões */
    margin-right: 10px;
}

.button:hover {
    background-color: black  !important;
    color: green;
    transform: rotateY(360deg);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.button:active {
    transform: scale(0.95);
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
}

#route{
    position: absolute;
    right: 50%;
    bottom: 10px;
}

#time-color{
    position: relative;
    left: 80px;
    bottom: 10px;
}

.position{
    position: relative;
    top: 10px;
    cursor: pointer;
    /* desabilitar seleção de texto */
    -webkit-user-select:none;
    user-select: none;
}

.dark-mode{
    background-color: black;
    color: white;
}

.centro{
    position: relative;
    text-align: center;
    bottom: 15px;
}

.linha{
    display: inline;
}

#name{
    margin-top: 20px;
    /* desabilitar seleção de texto */
    -webkit-user-select:none;
    user-select: none;
}